<component name="ArtifactManager">
  <artifact type="war" name="springbootDemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springbootDemo.war">
      <element id="artifact" artifact-name="springbootDemo:war exploded" />
    </root>
  </artifact>
</component>