<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatiswemaven:war exploded">
    <output-path>$PROJECT_DIR$/mybatiswemaven/target/mybatiswemaven</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatismaven" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.4.6" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.38" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.17" />
          <element id="library" level="project" name="Maven: cglib:cglib:2.2.2" />
          <element id="library" level="project" name="Maven: asm:asm:3.3.1" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:1.3.2" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/mybatismaven/target/mybatiswemaven/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="mybatismaven/web/Web" />
    </root>
  </artifact>
</component>